@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
#root {
  height: 100%;
  display: grid;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  display: grid;
}

noscript {
  margin: auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.center-text {
  text-align: center;
}

.p10 {
  padding: 10px;
}

.ma {
  margin: auto;
}

.m10 {
  margin: 10px;
}

.m20 {
  margin: 20px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}
